.line {
    width: 300px; /* Adjust the width of the line as needed */
    background-color: black; /* Adjust the color of the line as needed */
    height: 2px; /* Adjust the height of the line as needed */
    margin-left: 20px; /* Adjust the margin to position it between circles */
    align-self:baseline; /* Vertically align the line with the circles */
  }
  h3{
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom:5px;
  }
  p{
    text-align: left;

  }